# macOS
.DS_Store

# Node / Next.js
node_modules/
.next/
out/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Test / coverage
coverage/

# Logs
logs/
*.log

# Editor / IDE
.vscode/
.idea/

# Build caches
.cache/
*.tsbuildinfo
